:root {
    /*Theming*/
    --col-bg: #dddbda;
    --col-text: #706e6b;
    --col-hover: silver;

    /*Containers' heights*/

    /*For Desktops/Web*/
    --tabs-container-height-web: 72%;
    --messages-container-height-web: 72%;

    /*For iPhone and smartphones*/
    --tabs-container-height-mobile: 48%;
    --messages-container-height-mobile: 50%;

    /*For Tablets*/
    --tabs-container-height-tablet: 81%;
    --messages-container-height-tablet: 83%;
}

.theme-marker {
    background-color: var(--col-bg);
    color: var(--col-text);
}

.theme-marker a {
    color: var(--col-text);
}

.theme-marker--border {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--col-bg);
}

/* App container width responsiveness */

@media (min-width: 1090px) and (max-width: 1260px) {
    #homeContainer {
        margin: 0 5rem;
    }
}

@media (min-width: 1260px) and (max-width: 1370px) {
    #homeContainer {
        margin: 0 10rem;
    }
}

@media (min-width: 1370px) {
    #homeContainer {
        margin: 0 15rem;
    }
}

/* App container height responsiveness */

.tabs-container {
    height: var(--tabs-container-height-web);
}

.messages-container {
    height: var(--messages-container-height-web);
}

/*For iPhone and smartphones*/
@media only screen and (min-device-width: 480px) and (max-device-width: 820px) and (min-device-height: 300px) and (max-device-height: 420px) {
    .tabs-container {
        height: var(--tabs-container-height-mobile);
    }

    .messages-container {
        height: var(--messages-container-height-mobile);
    }
}

/*For Tablets*/
@media only screen and (min-device-height: 1024px) and (max-device-width: 1400px) and (min-device-width: 760px) {
    .tabs-container {
        height: var(--tabs-container-height-tablet);
    }

    .messages-container {
        height: var(--messages-container-height-tablet);
    }
}