/*Custom Heights*/

.height-fill {
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}

.height-screen {
    height: 95vh;
}

.height-inherit {
    height: inherit;
}

.height-percent-100 {
    height: 100%;
}

/*Custom Widths*/

.width-stretch {
    width: 100%;
}

/*Devices specific styles*/

.mobile-visible-only {
    display: none;
}

/*For iPhone and smartphones*/
@media only screen and (min-device-width: 315px) and (max-device-width: 820px) {
    .mobile-hidden {
        display: none;
    }

    .mobile-visible-only {
        display: block;
    }
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Flexbox*/

.flex-container {
    display: flex;
}

.flex-container__stretch {
    align-items: stretch;
}

.flex-item__grow {
    flex-grow: 1;
}

/*Positions*/

.position-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Extras*/

.title-caps {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

.hoverable:hover {
    cursor: pointer;
    opacity: 0.5;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}