/*Custom Heights*/

.height-fill {
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}

.height-screen {
    height: 95vh;
}

.height-inherit {
    height: inherit;
}

.height-percent-100 {
    height: 100%;
}

/*Custom Widths*/

.width-stretch {
    width: 100%;
}

/*Devices specific styles*/

.mobile-visible-only {
    display: none;
}

/*For iPhone and smartphones*/
@media only screen and (min-device-width: 315px) and (max-device-width: 820px) {
    .mobile-hidden {
        display: none;
    }

    .mobile-visible-only {
        display: block;
    }

    .height-percent-100 {
        height: 93%;
    }
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Flexbox*/

.flex-container {
    display: flex;
}

.flex-container__stretch {
    align-items: stretch;
}

.flex-container__space-between {
    justify-content: space-between;
}

.flex-item__grow {
    flex-grow: 1;
}

/*Positions*/

.position-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Extras*/

.title-caps {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

.hoverable:hover {
    cursor: pointer;
    opacity: 0.5;
}

/*SLDS overrides*/

.slds-spinner_with-text::after {
    position: absolute;
    content: "Please, wait...";
    width: 100%;
    text-align: center;
    top: calc(50% + 2rem);
}

.slds-spinner_container {
    background-color: transparent;
}

.slds-spinner_container_overridden {
    background-color: rgba(255, 255, 255, 0.75);
}

.slds-text-longform {
    min-height: 5rem;
}

.slds-brand-band {
    height: 100vh;
}

@media (hover: none) and (pointer: coarse) {
    body {
        font-size: 0.8125rem;
    }
}

/*For iPhone and SmartPhones*/
@media only screen
and (min-device-width: 315px)
and (max-device-width: 812px)
and (min-device-height: 315px)
and (max-device-height: 812px) {
    .slds-brand-band {
        height: 100%;
    }
}