/*SLDS overrides*/

.slds-spinner_with-text::after {
    position: absolute;
    content: "Please, wait...";
    width: 100%;
    text-align: center;
    top: calc(50% + 2rem);
}

.slds-spinner_container {
    background-color: transparent;
}

.slds-spinner_container_overridden {
    background-color: rgba(255, 255, 255, 0.75);
}

.slds-text-longform {
    min-height: 5rem;
}

.slds-brand-band {
    height: 100vh;
}

/*@media (hover: none) and (pointer: coarse) {*/
/*    body {*/
/*        font-size: 0.8125rem;*/
/*    }*/
/*}*/

/*For iPhone and SmartPhones*/
@media only screen
and (min-device-width: 315px)
and (max-device-width: 812px)
and (min-device-height: 315px)
and (max-device-height: 812px) {
    .slds-brand-band {
        height: 100%;
    }
}