.chat-item {
    margin-bottom: .5rem;
}

.chat-item .slds-dropdown-trigger ul {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

.chat-item:hover {
    background-color: silver;
    cursor: pointer;
}